
.main{
    background-color: var(--white);
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--white);
    
    padding-top: 3rem;
}

.main-content {
   
    justify-self: start;
    margin-left: 4rem;
    color: var(--black);
    width: 80%;
}

.main-content h1{
    font-size: 4rem;
}
.main-content h1 #courses {
    padding-top: 1.2rem;
}

.main-content p{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.main-btn {
    font-size: 1.5rem;
    background-color: var(--darkblue);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-btn a{
    position: relative;
    z-index: 2;
    color: var(--white);
    text-decoration: none;
}

.main-btn:after{
    position:absolute;
    content: "";
    top:0;
    left:0;
    width: 0;
    height: 100%;
    transition: all 0.15s;
    border-radius: 4px;
    background-color: var(--lightblue);
}

.main-btn:hover{
    color: var(--white);

}
.main-btn:hover:after{
    width: 100%;
}
.main-img-container{
    text-align: center;
}
#main-img{
    margin-top: -5rem;
    margin-left: 4rem;
    width: 869px;
    height: 579px;
    
    background-size:100%;
    background-repeat: no-repeat;
    justify-self: start;
}
#main-img{
    cursor: default;
}

/* мобильная версия */
@media screen and (max-width: 768px) {
    .main-container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        background-color: var(--white);
        padding-top: 20rem;
        margin-right: 20px;

    }
    .main-content{
        margin-right: 20px;
        justify-self: center;
        color: var(--black);
        width: 80%;
        margin: 0;
    }
    .main-content h1{
        font-size: 3rem;
    }
    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    #main-img{
        display: none;
    }

}

@media screen and (max-width:400px){
    .main-content{
        
        text-align: center;
    }
    .main-content h1{
        margin-left: 0.5rem;
        font-size: 3rem;
    }
    .main-content p{
        margin-top:2rem;
        font-size:1.5rem;
    }
    .main-btn{
        padding: 12px 36px;
        margin-top:2.5rem;
    }
}